@import"manything/header";
@import"manything/products";
.body-container {
    background-image: url(https://www.testcenter.vn/images/introductions/style.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.button-group {
    column-gap: 10px;
}
.btn-more-infor {
    /*border: #2B4AA0 !important;*/
    color: #2B4AA0 !important;
    border-color: #2B4AA0 !important;
    padding: 10px 24px 10px 24px !important;
}
.btn-more-infor:hover {
    color: #ffffff !important;
    background-color: #2B4AA0 !important;
}
.btn-register {
    border-color: #2B4AA0 !important;
    padding: 10px 24px 10px 24px !important;
}
.btn-register:hover {
    color: #2B4AA0 !important;
    background-color: #ffffff !important;
}
.box-container {
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.04);
    padding: 24px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.features {
    background-color: #EDF8FF5C;
}
.features-box {
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 24px;
}
.group-features {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.about-us {
    background: linear-gradient(180deg, rgba(197, 232, 250, 0.1) 0%, rgba(237, 248, 255, 0.36) 100%);
}
.branch-container {
    box-shadow: -1px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    padding: 30px 88px 30px 88px;
}
.trial {
    background-image: url(https://www.testcenter.vn/images/introductions/image21.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.title {
    color: #2B4AA0;
    font-size: 19px;
    line-height: 24px;
    font-weight: 500;
    text-align: center;
}
.description {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 5px;
}
.image-item {
    margin-top: 5px;
}
.container-content {
    padding-left: 12px !important;
    padding-right: 12px !important;
    display: flex;
}
@media (max-width: 575.98px) {
    .box-container {
        box-shadow: none;
        padding: 0px;
    }
    .features-box {
        background-color: #EDF8FF5C;
    }
    .branch-container {
        padding: 10px 50px 10px 50px;
    }
    #main-title {
        font-size: 24px;
        padding: 0px 30px 0px 30px;
    }
    .main-description {
        font-size: 14px;
    }
    .title-section {
        font-size: 19px;
    }
    .title {
        font-size: 14px;
        text-align: center;
    }
    .second-des {
        margin-top: 25px;
    }
}

#main-title {
    font-size: 2rem;
}

.main-description {
    font-size: 15px;
}

@media (max-width: 767.98px) {
    .box-container {
        box-shadow: none;
        padding: 0px;
    }
    .features-box {
        background-color: #EDF8FF5C;
    }
    .branch-container {
        padding: 10px 50px 10px 50px;
    }
    #main-title {
        font-size: 24px;
    }
    .main-description {
        font-size: 14px;
    }
    .title-section {
        font-size: 19px;
    }
    .title {
        font-size: 14px;
        text-align: center;
    }
    .second-des {
        margin-top: 25px;
    }
}
.text-about {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
}
.owl-item .card-item {
    box-shadow: none;
    padding: 0px;
    border-color: #EEEEEE;
    font-weight: 400;
}
.short-post {
    color: #333333;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}
.title-post a {
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: #2B4AA0;
}
.newest-posts {
    padding-bottom: 2%;
}


