.product-section {
    .product-section-intro{
        .row {
            display: flex;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
            .product-section-intro-left{
                .highlight {
                    color: #2C4A9F!important;
                }
            }
            .product-section-intro-right {
                position: absolute;
                right: 125px
            }
        }
    }
    .product-section-intro-mobi{
        display: none;
        .product-section-intro-left{
            .highlight {
                color: #2C4A9F!important;
            }
        }
    }
}
.product-container-fluid{
    padding-left: 24px;
    padding-right: 24px
}
.product-section-operate{
    .container{
        .text-center-mobile{
            text-align: center;
        }
    }
}

.product-section-price {
    padding: 1em 1em 1.5em!important;
    .row{
        .product-section-price-box{
            margin-top: 15px!important;
            margin-left: 15px!important;
            gap: 10px!important;
        }
        .product-section-price-box-primary{
            background: #2b4aa0!important;
            color: #fff!important;
            opacity: 1!important;
            width: 27%!important;
            margin-left: 0!important;
            .info-color {
                color: #57d7ff!important
            }
        }
    }
}
@media only screen and (max-width: 992px) {
    .product-section-intro-right {
        right: 50px!important;
    }
}
@media only screen and (max-width: 575.98px){
    .pc-hidden{
        display: block!important;
    }
    .body-container-product {
        background-image: none!important;
    }
    .product-section{
        .product-section-intro-pc{
            display:none;
        }
        .product-section-intro-mobi{
            display: block!important;
            .product-section-intro-left{
                h1{
                    font-weight: 500;
                    font-size: 24px;
                    line-height: 30px;
                }
            }
        }
    }

}

