$th-td-border: 1px solid #ddd;
$th-background:blue;
$language:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
$card-border: 1px solid #ddd;
$background:white;
$nav-link-color:#ADD8E6 ;
$background-content:white;
$font-h1:23px;
$weight-title:border;
$font-h5:20px;
$weight-content-h5:italic;
$line-high:border;
$weight-content-h3:17px;
$font-h2:23;
$button-hover:#1a4c9d;
$line:2px solid blue;
$box-shadow:0 4px 8px rgba(0, 0, 0, 0.1);
$p:12px;
$background-phone:white;

